@import './variables.scss';

.btn {
  line-height: $header-height;
  text-decoration: none;
  color: white;
  background-color: $primary-color;
  padding: $factor / 2 $factor;
  margin: 0 $factor;
  border-radius: 3px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &:hover {
    background-color: $primary-color;
  }

  &--secondary {
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
    }
  }
}