@import './variables.scss';

@keyframes slideDown {
  from {
    bottom: 50px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes slideUp {
  from {
    top: 50px;
  }
  to {
    top: 0px;
  }
}

.caption {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 48px;
  letter-spacing: 6px;
  
  &__border {
    z-index: 1;
    position: relative;
    animation: slideUp $slide-time;
    background-color: $secondary-color;
    color: white;
    padding: ($factor * 2) ($factor * 4);
  }

  &__profile-img {
    position: relative;
    z-index: 2;
    animation: slideDown $slide-time;
    background: $profile-img;
    background-size: cover;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: solid $factor $primary-color;
  }
}