@import './variables.scss';

.fullscreen-img {
  margin: 0;
  padding: 0;
  background: $start-bg-img no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}