@import './variables.scss';

.fullscreen-img {
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: $start-bg-img no-repeat center center fixed;
  background-size: cover;
}