@import 'variables.scss';

.header {
  box-sizing: border-box;
  padding: 0 ($factor * 4);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: $header-height;
  z-index: 100;
  background-color: $primary-color-dark;
  box-shadow: 0 0 9px 0 rgba(0,0,0,.3);

  // Page title
  &__title {
    color: white;
    letter-spacing: 1px;
    line-height: $header-height;
    font-size: $header-font-size;

    @media screen and (max-width: $mobile-l) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}