@import './variables.scss';

.menu-btn {
  position: fixed;
  top: $factor;
  right: $factor * 2;
  display: none;
  color: white;
  font-size: $header-font-size;
  cursor: pointer;

  @media screen and (max-width: $tablet) {
    display: block;
  }
}

.navigation {
  float: right;
  
  @media screen and (max-width: $tablet) {
    display: none;
    width: 100%;
    text-align: center;

    &.open {
      display: block;
    }
  }

  ul {
    list-style: none;

    li {
      display: inline-block;

      @media screen and (max-width: $tablet) {
        display: block;
      }
    }
  }

  &__link {
    display: inline-block;
    padding: 0 $factor;
    text-decoration: none;
    color: white;
    line-height: $header-height;
    font-size: $header-font-size;
    letter-spacing: $header-letter-spacing;
    transition: color $fade-time;
    border-bottom: solid 3px $primary-color-dark;

    @media screen and (max-width: $tablet) {
      width: 100%;
      border: none;
    }

    &:hover {
      border-bottom: solid 3px $secondary-color;

      @media screen and (max-width: $tablet) {
        border: none;
      }
    }

    &--active {
      border-bottom: none;
      background-color: $secondary-color;
      border-bottom: solid 3px $secondary-color;
      @media screen and (max-width: $tablet) {
        border: none;
      }
    }
  }
}