@import './variables.scss';

.navigation {
  float: right;
  
  &__link {
    display: inline-block;
    padding: 0 $factor;
    text-decoration: none;
    color: white;
    line-height: $header-height;
    font-size: $header-font-size;
    letter-spacing: $header-letter-spacing;
    transition: color $fade-time;

    &:hover {
      border-bottom: solid 3px $secondary-color;
    }

    &[selected] {
      border-bottom: none;
      background-color: $secondary-color;
    }
  }
}