@import './variables.scss';

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    right: 50px;
  }

  to {
    right: 0;
  }
}

@keyframes slide-right {
  from {
    left: 50px;
  }

  to {
    left: 0;
  }
}

.page {
  overflow: hidden;
  animation: fadein $fade-time;

  &__header {
    display: inline-block;
    margin: 0;
    padding: (4 * $factor) 0;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

    @media screen and (max-width: $tablet){
      padding: (2 * $factor) 0;
    }

    &--sub {
      margin: 0;
      padding: $factor 0;
      font-size: 38px;
      font-weight: 400;
      color: $secondary-color;
      border-bottom: solid 3px $primary-color;
    }
  }
  
  .page__section-wrapper {
    position: relative;
    text-align: center;
  }

  .page__section {
    box-sizing: border-box;
    display: inline-block;
    width: 500px;
    margin: $factor * 2;
    padding: $factor * 2;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;

    @media screen and (max-width: $laptop){
      width: 300px;
    }

    @media screen and (max-width: $tablet){
      margin: $factor;
      padding: $factor;
    }

    @media screen and (max-width: $mobile-l){
      width: auto;
    }

    &--left {
      position: relative;
      animation: slide-left $slide-time;

      @media screen and (max-width: $mobile-l){
        animation: none;
      }
    }

    &--right {
      position: relative;
      animation: slide-right $slide-time;

      @media screen and (max-width: $mobile-l){
        animation: none;
      }
    }

    img {
      display: block;
      margin: auto;
    }

    h3 {
      margin: $factor * 2;
      color: $secondary-color;
      font-size: 32px;
      font-weight: 400;
      text-align: center;

      @media screen and (max-width: $tablet){
        font-size: 24px;
      }
    }

    p {
      margin: 0;
      padding: 0 $factor * 2;
      text-align: justify;

      @media screen and (max-width: $tablet){
        padding: $factor;
      }

      @media screen and (max-width: $mobile-l){
        padding: 0;
      }
    }
  }
}