// ***** Colors *****
// Primary color
$primary-color: #baddf9;
$primary-color-light: #edffff;
$primary-color-dark: #89abc6;

// Secondary color
$secondary-color: #ef5350;
$secondary-color-light: #ff867c;
$secondary-color-dark: #b61827;

// Text color
$text-color: black;
$text-color-secondary: white;

// Default background
$background-color: #eceff4;

// ***** Sizes *****
$header-height: 48px;
$factor: 12px;
$header-font-size: 18px;
$header-letter-spacing: 2px;

// ***** Images *****
$start-bg-img: url('/img/start_bg.jpg');
$profile-img: url('/img/profile.jpg');

// ***** Animations *****
$fade-time: 0.25s;
$slide-time: 0.75s;

//***** Media query break points
$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;