// ***** Colors *****
// Primary color
$primary-color: #434c5e;
$primary-color-light: #6f788b;
$primary-color-dark: #1b2434;

// Secondary color
$secondary-color: #bf616a;
$secondary-color-light: #f49098;
$secondary-color-dark: #8b333f;

// Text color
$text-color: black;
$text-color-secondary: white;

// Default background
$background-color: #eceff4;

// ***** Sizes *****
$header-height: 48px;
$factor: 12px;
$header-font-size: 18px;
$header-letter-spacing: 2px;

// ***** Images *****
$start-bg-img: url('/img/start_bg.jpg');